<div id="<%= dom_id form_entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= form_entry.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= form_entry.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= form_entry.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= form_entry.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthdate:</strong>
    <%= form_entry.birthdate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= form_entry.notes %>
  </p>

</div>
